/exer2ValorCorreto.class
/exer2ValorCorreto2Versao2.class
/exerc1NomeIdade.class
/fatorialSimples.class
/lerCincoNumerosMaiorComMedia.class
/numerosParesImpares.class
/numerosParesImpares2VersaoDois.class
/tabuada.class
